<h1><%= @restaurant.name %></h1>
<p>
  <strong>Address</strong>: <%= @restaurant.address %><br />
  <strong>Phone number</strong>: <%= @restaurant.phone_number %><br />
  <strong>Category</strong>: <%= @restaurant.category %>
</p>

<div class="my-5">
  <h2>Add a review</h2>
  <%= render "reviews/form", restaurant: @restaurant, review: @review %>
</div>

<% if(@restaurant.reviews.length > 0) %>
  <h2>Users reviews</h2>
  <% @restaurant.reviews.each do |review| %>
    <div class="card bg-light my-3">
      <div class="card-body">
        <div class="card-title">
          <% 5.times do |i| %>
            <% if i < review.rating %>
              <i class="fa-solid fa-star"></i>
            <% else %>
              <i class="fa-regular fa-star"></i>
            <% end %>
          <% end %>
        </div>
        <div class="card-text">
          <%= review.content %>
        </div> 
      </div>
    </div>
  <% end %>
<% else %>
  <p>There is no review yet!</p>
<% end %>

<%= link_to "Return to restaurants list", restaurants_path %>
